#h2 {
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
        font-style: bold;
      }

#h3 {
        text-align: center;
        font-size: 13.5px;
        font-style: bold;
      }

#mychart2 {
	padding-left: 50px;
}